PyJWT
Flask
torchaudio==2.0.0
git+https://github.com/m-bain/whisperx.git@v3.2.0
ffmpeg-python
flask-restful
flask-swagger
requests
fastapi
uvicorn
aiofiles
spacy==3.7.2
python-multipart
silero-vad
librosa
